@import "tailwindcss";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@import "leaflet/dist/leaflet.css";
* {
  box-sizing: border-box;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}

body {
  background: white;
}

html {
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.leaflet-control {
  z-index: 30 !important;
}

/* Always show thin, default scrollbar without buttons */
.scrollbar-clean {
  scrollbar-width: thin;
  scrollbar-color: #441306 transparent;
}

.scrollbar-clean::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-clean::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-clean::-webkit-scrollbar-thumb {
  background-color: rgba(68, 19, 6, 0.2);
  border-radius: 3px;
}

.scrollbar-clean::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

.scrollbar-clean::-webkit-scrollbar-corner {
  background: transparent;
}
.outercard {
  background-color: #171717;
}
.cardborder {
  border: 2px solid;
  border-color: #323438;
  border-radius: 0.5rem;
  overflow: hidden;
}
.innercard {
  background-color: #1b1a1d;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shadow-auth {
  box-shadow: 0 2px 10px 0 rgba(221, 247, 248, 0.4);
}

.shadow-np {
  box-shadow: 0 2px 10px 0 rgba(209, 184, 223, 0.2);
}
.shadow-2 {
  box-shadow: 0 2px 10px 0 rgba(185, 185, 185, 0.21);
}
.shadow-box {
  box-shadow: 0 2px 10px 0 rgba(185, 185, 185, 0.25);
}
